"nbproject/private/" 
"build/" 
"dist/" 
/build/
/dist/
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties
build/
dist/
build/web/WEB-INF/classes/
build/generated-sources/
build/generated-web-pages/
build/web/META-INF/
*.war
*.class